* {
    tamaño de la caja : border-box;
    
}
cuerpo {
    margen : 0 ;
    font-family : sans-serif;
    
}
. formulario {
    ancho : 500 px ;
    ancho máximo : 100 % ;
    margen : auto;
    margen superior : 30 px ;
    relleno : 20 px ;
    sombra de cuadro : 0  0  20 px  1 px  rgba ( 0 , 0 , 0 , 0.3 );
    posición : relativa;
    
    
    
}
. formulario__titulo , . formulario__subtitulo , . formulario__parrafo {
    alinear texto : centro;
    margen superior : 0 ;
    
}
. formulario__titulo , . formulario__subtitulo {
    color : rgba ( 0 ,  0 ,  0 ,  0.7 );
    
}
. formulario__parrafo {
    color : rgba ( 0 , 0 , 0 , 0.5 );
}
. formulario__input , . formulario__label {
    pantalla : bloque;
    ancho : 100 % ;
    tamaño de fuente : 1 , 3 em ;
    
}
. formulario__input {
    relleno : 10 px ;
    fondo : transparente;
    / * puedo colocar otro color pero con transparencia asiática: fondo: rgba (0,0,0,0.1) porque sí no se ven las etiquetas, aunque ya no es necesario porque ya no están sobre los input y ademas le quite el z- índice*/
    borde : 1 px sólido rgba ( 0 , 0 , 0 , 0.3 );
    margen inferior : 15 px ;
    radio de borde : 10 px ;
    
}
. formulario__input : focus {
    / * esquema: 1px rgba sólido (0,0,0,0.7); * /
    esquema : ninguno;
    cuadro-sombra : 0 px  0 px  2 px  rgba ( 0 , 0 , 0 , 0.7 );
}
/*.formulario__input:focus + .formulario__label {
    margen superior: -120 px;
} * /
. formulario__label {
    relleno-izquierda : 15 px ;
    / * posición: absoluta; * /
    / * margin-top: -78px; * /
    / * índice z: -20; * /
    color : rgba ( 0 , 0 , 0 , 0.7 );
    / * transición: todos 0.2s; * /
    margen : 2 px ;
    
    
}
. formulario__submit {
    fondo : rgba ( 0 , 0 , 0 , 0.7 );
    color : blanco;
    relleno : 10 px  20 px ;
    cursor : puntero;
    borde : ninguno;
    radio de borde : 20 px ;
    pantalla : bloque;
    ancho : 50 % ;
    tamaño de fuente : 1 , 3 em ;
    
}

/ * Centrar los campos del formulario (La entrada y el botón de Enviar al WhatsApp, que también es una entrada) * /

. formulario__input , . formulario__submit {
    margen izquierdo : auto;
    margen derecho : auto;
}
    
    

/*.fijar {
    margen superior: -120 px;
} * /